.list-group {
	margin: max(5px, 2vw);
}

.list-group img {
    height: 30px;
}

.list-item {
	width: 100%;
	cursor: pointer;
	padding: 2.5px;
	border-top: 1px solid #ccc;
	display:grid;
	column-gap: 30px;
	grid-template-columns: 60px 60px calc(10ch + 30px) 1fr 60px 60px 60px;
	grid-template-rows: 1fr;
	font-size: 25px;
	text-align: left;
}

.list-item:last-child {
	border-bottom: 1px solid #ccc;
}

.list-item:hover {
	background-color: #f5f5f5;
}

.driver-number {
    height: 25px;
    margin-top: 2.5px;
    margin-left: 30px;
}

.driver-country-span {
    display: inline-block;
    width: 60px;
}

.driver-country {
    height: 25px;
}

.team-icon {
    width: 35px;
    margin-left: 30px;
    margin-top: 2.5px;
}

.driver-team {
    height: 35px;
    margin-right: 30px;
    float: right;
}

.driver-name {
    font-weight: bold;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
}

.driver-points {
    font-size: 20px;
    font-weight: bold;
    float: right;
    width: 30px;
    padding: 5px;
    text-align: center;
    border: #000 1px solid;
    border-radius: 5px;
}

.driver-givenName {
    font-size: 15px;
    margin-left: 30px;
}

.driver-profile {
    height: 35px;
    margin-right: 30px;
    float: right;
}

.clicked .driver-profile,
.driver.clicked {
    height: 300px;
}